services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.0.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  scraper:
    build:
      context: .
      dockerfile: scraper/Dockerfile
    depends_on:
      - mongo
      - elasticsearch
    env_file: .env

  webapp:
    build:
      context: .
      dockerfile: webapp/Dockerfile
    depends_on:
      - elasticsearch
    env_file: .env
    ports:
      - "8501:8501"

volumes:
  mongo_data:
  es_data:
